body {
  background: #ededed;
}
* {
  border: 1px solid #b3b3b3;
}
.a {
  min-height: 50px;
}
.b {
  min-height: 100px;
}
.c {
  min-height: 50px;
}
  .container {
    display: flex;
    min-height: 100ev;
    flex-direction: column;
    justify-content: space-between;
  }
    
  header, footer  {
    flex-grow: 1;
  }
    
  main {
    flex-grow:3;
  }
    
    
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    header {
      width: 100%;
    }
    main, footer, header {
      margin: 16px;
    }
  }